*{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}


body{
    display:flex;
    flex-direction:column;
}

header,aside,footer{
    border-color: red;
    border-style: groove;
}

header{
    height:100px;
    display:flex; 
    /* row wise with no wrap */
    flex-wrap:nowrap;
    margin:5px;
    background-color: aliceblue;
}


header h1{
    line-height: 100px;
    text-align: center;
}

nav{
    display: flex;
    direction: row;
}
a{
    line-height: 100px;
    text-align: center;
    text-decoration:none;
}
main{
    margin:5px;
    display: flex;
    flex:auto;
    height:max-content;
}

section{
    text-align: center;
    height:fit-content;
    border: 1px solid royalblue;
    margin: 5px;
    background-color: rgba(63, 60, 60, 0.431);
}

#as-left{
    width:25%;
    height:fit-content;
    border: 1px solid royalblue;
    background-color: aquamarine;
}

#as-right{
    text-align: center;
    width:25%;
    height:fit-content;
    border: 1px solid royalblue;
    background-color: rgb(2, 137, 255);
}

footer{
    text-align: center;
    background-color: darkblue;
    margin: 5px;
    height: 50px;
    color: cornsilk;
}
